@import '../../styles/shared';

.MovieList {
  .itemWrapper {
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      border: 1px solid black;

      @include media-desktopSm {
        flex-direction: unset;
      }

      .wrapper {
        @include media-desktopSm {
          display: flex;
          flex-direction: column;
          width: 25%;
        }
      }

      .imgWrapper {
        max-width: 50%;

        @include media-desktopSm {
          min-width: 20%;
          max-width: 20%;
        }

        > div {
          position: unset !important;
        }

        .img {
          object-fit: contain;
          width: 100% !important;
          position: relative !important;
          height: unset !important;
        }
      }
    }
  }
}
