@import '../../styles/shared';

.MovieList {
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 10px;

    .imgWrapper {
      max-width: 50%;

      @include media-desktopSm {
        max-width: 30%;
      }

      > div {
        position: unset !important;
      }

      .img {
        object-fit: contain;
        width: 100% !important;
        position: relative !important;
        height: unset !important;
      }
    }
  }
}
