.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: relative;
  z-index: 5;

  .menuButton {
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &.menuButtonOpen {
      transform: rotate(90deg);
    }
  }

  .menuSvg {
    width: 20px;
    height: 20px;
    transition: all 0.3s ease-in-out;

    &.menuButtonOpen {
      fill: transparent;
      stroke: #333;
      stroke-width: 3;
      stroke-dasharray: 40;
      stroke-dashoffset: 40;
      animation: menuSvgAnimate 0.3s linear forwards;
    }

    @keyframes menuSvgAnimate {
      to {
        stroke-dashoffset: 0;
      }
    }
  }

  .routes {
    display: none;

    &.routesOpen {
      display: block;

      a {
        display: block;
        margin-right: 20px;
        text-decoration: none;
        color: rgb(0, 0, 0);
      }
    }
  }

  .logo {
    p {
      font-size: 1.5em;
      font-weight: bold;
      color: #333;
    }
  }
}
